.myBtns {
     font-size: 4rem;
     margin: 10px;
     border: none;
     border-radius: 5px;
     padding: 10px 15px;
     background-color: hsl(220, 100%, 65%);
     display: flex;
     color: aliceblue;
}