#mybox {
     background-color: aquamarine;
     width: 300px;
     height: 300px;
     font-size: 4rem;
     font-weight: bold;
     display: flex;
     align-items: center;
     text-align: center;
}

#myBnt{
     font-size: 3rem;
}